/**
 *  This CSS is for the tree rows backgrounds
 */

tr.background-carmine {
  background-color: #E7717D !important;
}

tr.background-carmine:hover {
  background-color: #e56673 !important;
}

tr.background-ghost {
  background-color: #C2CAD0 !important;
}

tr.background-ghost:hover {
  background-color: #b7c0c8 !important;
}

tr.background-seed {
  background-color: #C2B9B0 !important;
}

tr.background-seed:hover {
  background-color: #bcb3a9 !important;
}

tr.background-soil {
  background-color: #a08779 !important;
}

tr.background-soil:hover {
  background-color: #957a6a !important;
}

tr.background-olive {
  background-color: #AFD275 !important;
}

tr.background-olive:hover {
  background-color: #a5cd65 !important;
}

tr.background-red-color {
  background-color: #FF0000 !important;
}

tr.background-green-color {
  background-color: #008000 !important;
}

tr.background-blue-color {
  background-color: #0000FF !important;
}

tr.background-grey-color {
  background-color: #808080!important;
}

tr.background-orange-color {
  background-color: #FFA500 !important;
}

tr.background-yellow-color {
  background-color: #FFFF00 !important;
}

