<section class="oe_container">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan" style="color: #7c7bad;font-size:35px;font-weight:bolder;">Print Report Editor | Print Report Quick Editor | Report Quick Editor | Report Editor</h2>
		<div>
            <p style="text-align: center;">
                This module allows users to quickly edit the selected print report, and formatting options include 
                bold, italic, underline, strike, align, unordered list, ordered list, font colour, backdrop colour, and hyper link.
            </p>
        </div>
	</div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan" style="color: #7c7bad;font-size:35px;font-weight:bolder;">Installation</h4>
        <div class="oe_span12">
            <p><strong>- Copy edit_print_report module to addons folder</strong></p>
            <p><strong>- Install the module normally like other modules</strong></p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan" style="color: #7c7bad;font-size:35px;font-weight:bolder;">Features</h4>
        <div class="oe_span12">
            <p><strong>- quickly edit the selected print report.</strong></p>
            <p><strong>- ormatting options include bold, italic, underline, strike, align, unordered list, ordered list, font colour, backdrop colour, and hyper link.</strong></p>
            <p><strong>- user can print the edited print report and it will not save anywhere.</strong></p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan" style="color: #7c7bad;font-size:35px;font-weight:bolder;">1. Select a report</h4>
        <p>Sales -> Quotations-> Quotation -> Edit Icon</p>
        <div class="oe_span12">
            <p>Select Report</p>
            </br>
            <div class="oe_row_img  oe_screenshot oe_centered">
                <img style="border:10px solid white; width: 100% !important" src="1.png">
            </div>
        </div>

        <div class="oe_span12">
            <p>Edit</p>
            </br>
            <div class="oe_row_img  oe_screenshot oe_centered">
                <img style="border:10px solid white; width: 100% !important" src="2.png">
            </div>
        </div>

        <div class="oe_span12">
            <p>Report will open in a window</p>
            </br>
            <div class="oe_row_img  oe_screenshot oe_centered">
                <img style="border:10px solid white; width: 100% !important" src="3.png">
            </div>
        </div>

        <div class="oe_span12">
            <p>Inline editor allows users to easily change the text of a specific element you decide to make customizable.</p>
            </br>
            <div class="oe_row_img  oe_screenshot oe_centered">
                <img style="border:10px solid white; width: 100% !important" src="4.png">
            </div>
        </div>

        <div class="oe_span12">        
            </br>
            <div class="oe_row_img  oe_screenshot oe_centered">
                <img style="border:10px solid white; width: 100% !important" src="5.png">
            </div>
        </div>

    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan" style="color: #7c7bad;font-size:35px;font-weight:bolder;">Ninebox Performance</h4>        
        <div class="oe_span12">
            </br>
            <div class="oe_row_img  oe_screenshot oe_centered">
                <img style="border:10px solid white; width: 100% !important" src="edit_print_report.gif">
            </div>
            </br>
        </div>        
        </br>
    </div>
</section>

<section class="oe_container oe_dark">
    <h3 class="oe_slogan">Help and Support</h3>
    <div class="oe_slogan">
        <a class="btn btn-primary btn-lg mt8" href="mailto:cfinfosolutions@gmail.com">
            <i class="fa fa-envelope"></i> Email
        </a>
        <a class="btn btn-primary btn-lg mt8" href="http://www.cfis.store/">
            <i class="fa fa-phone"></i> Contact Us
        </a>
        <a class="btn btn-primary btn-lg mt8" href="http://www.cfis.store/">
            <i class="fa fa-check-square"></i> Request Customization </a>
    </div>
</section>
