.list-wrapper {
  

}




ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: block;
  counter-increment: item;
  margin-bottom: 0.6em;
  text-align: justify;
  position: relative; 
  padding-left: 40px;
  font-size:21px;
  
}

ol > li:before {
  content: counters(item, ".") ".";
  display: inline-block;
  padding-right: 0.6em;   
  color:white; 
  position: absolute; 
}

li ol > li {
  margin: 7px;
  line-height: 1.1em;
  font-size:21px;
}

li ol > li:before {
  content: counters(item, ".") ".";
   color:black;
   margin-left: -40px; 
   position: relative;
   line-height: 1.1em; 
}

li ol > li ol > li:before {
  content: counters(item, ".") " ";
   color:#2e3436; 
   position: relative;
   margin-left: -50px;
   line-height: 1.1em;
   
}

ol.c > li:before {
  content: counters(item, ".") ".";
  color:black; 
  position: relative;
  padding-right: 1em;
  margin-left: -35px; 
}

div.d {
	
	text-align: justify;
	text-justify: inter-word;  
	font-size:21px; 
	padding-left: 3em;
	line-height: 1.1em;
	
}
