
.list-wrapper {
  

}




ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: block;
  counter-increment: item;
  margin-bottom: 0.6em;
  text-align: justify;
  position: relative; 
  padding-left: 40px;
  font-size:21px;
  
}

ol > li:before {
  content: counters(item, ".") ".";
  display: inline-block;
  padding-right: 0.6em;   
  color:white; 
  position: absolute; 
}

li ol > li {
  margin: 7px;
}

li ol > li:before {
  content: counters(item, ".") ".";
   color:black;
   margin-left: -45px; 
   position: relative;
   font-size:21px;
}

li ol > li ol > li:before {
  content: counters(item, ".") " ";
   color:#2e3436; 
   position: relative;
   margin-left: -55px;
   font-size:21px;
   
}

ol.c > li:before {
  content: counters(item, ".") ".";
  color:black; 
  position: relative;
  padding-right: 1em;
  margin-left: -40px;
}

div.d {
	
	text-align: justify;
	text-justify: inter-word;  
	font-size:16px; 
	padding-left: 11em;
	margin-left: -70px;
	line-height: 1.8em;
	padding-right: 1.5em;
	
}

