.o_modal_fullscreen {
	z-index: 1048 !important;
}

.edit_report {	
	width: 100%;
	height: 100%;
	display: flex;
	background-color: #f1f1f1;
	justify-content: flex-start;
	align-items: center;
    flex-direction: column;
    -webkit-box-pack: start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	
}

.edit_report_top_bar {	
	width: 100%;
    padding: 10px;
    background-color: white;
	border-bottom: solid 1px #b7b7b7;	
	justify-content: space-between;
}

.edit_report_topbar_buttons_right {
	display: flex;
	float: right;
}

.edit_report_topbar_buttons_left {
	display: flex;
	float: left;
}

.edit_report_viewer {
    width: 100%;
	height: 100%;
	display: flex;
	overflow: auto;
	flex-wrap: wrap;
	padding: 0px;	
}

.edit_report_page_wrapper {
    width: 100%;
	display: flex;
	overflow: auto;
	flex-wrap: wrap;
	padding: 0px;	
}
.edit_report_iframe {
	min-height: 0;
	border: none;
	display: block;
	flex: 0 1 100%;
	width: 100%;
	height: 100%;
	padding-top: 5mm;
    padding-left: 7mm;
    padding-right: 7mm;
    width: 215.9mm;
    min-height: 279.4mm;
}